.list-wapper {
    .list-title {
        font-size: 1.3rem;
        color: #1e9eff;
        padding-bottom: 0 0.5rem;
    }

    .list-context {
        color: #777777;
        padding: 0.5rem;
    }

    .list-icon {
        padding: 0.5rem 0;
        color: #aaaaaa;

        >span {
            margin-right: 15px;
        }
    }
}

.bread-div {
    padding: .5rem;
    border-bottom: 1px solid #eee;
    background-color: #e1f0ff;
}